aioapns==4.0
arrow==1.3.0; python_version >= '3.8'
arrow==1.2.3; python_version >= '3.0' and python_version <= '3.7'
bandit==1.7.1; python_version == '3.6'
bandit==1.7.5; python_version == '3.7'
bandit==1.7.10; python_version == '3.8'
bandit==1.8.5; python_version >= '3.9'
Django==3.2.25; python_version >= '3.0' and python_version <= '3.7'
Django==4.2.23; python_version >= '3.8'
firebase-admin==6.9.0; python_version >= '3.8'
firebase-admin==5.4.0; python_version >= '3.0' and python_version <= '3.7'
firebase-admin==3.2.1; python_version < '3.0'
future==1.0.0
httpx==0.24.1; python_version == '3.7' # firebase-admin pulls in versions for later Pythons
httpx==0.22.0; python_version <= '3.6'
jsonpath-ng==1.7.0; python_version >= '3.0'
lockfile==0.12.2
lxml==5.4.0; python_version >= '3.0'
phonenumbers==9.0.12
psycopg2-binary==2.9.8; python_version >= '3.0' and python_version <= '3.6'
psycopg2-binary==2.9.9; python_version == '3.7'
psycopg2-binary==2.9.10; python_version >= '3.8'
pylint==2.13.9; python_version == '3.6'
pylint==2.14.5; python_version >= '3.7' and python_version < '3.7.2'
pylint==3.2.7; python_version == '3.8'
pylint==3.3.7; python_version >= '3.9'
pywebpush==2.0.3
PyNaCl==1.5.0; python_version >= '3.0'
requests==2.27.1; python_version <= '3.6'
requests==2.31.0; python_version == '3.7'
requests==2.32.4; python_version >= '3.8'
